<%- include("partials/gg") -%>

<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo animate-charcter-head">नेत्र</label>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/predict">Predict</a></li>
      <li><a href="/diagnosis">Diagnosis</a></li>
      <li><a href="/research-paper">Research</a></li>
      <li><a class="btn btn-primary logout" href="/<%=text%>"><%=text%></a></li>
  </nav>

<div class="container">
<div style="margin-top:100px; height: 100%;" class="jumbotron">
    <center>
    <h1>Results</h1>
    <br>
    <h2><%=answer%></h2>
    <p><%=description%></p>
    <br>
    <video controls muted loop width="400" height="400" autoplay>
      <source src="<%=url%>" type="video/mp4">
    Your browser does not support the video tag.
    </video>
</center>
</div>
</div>

<%- include("partials/footer") -%>